In [1]:
import pandas as pd

In [2]:
pd.__version__

'1.5.3'

In [6]:
df = pd.read_csv('./data/raw/yellow/2021/01/yellow_100.csv')

In [7]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [8]:
df = pd.read_csv('./data/raw/yellow/2021/01/yellow_tripdata_2021-01.csv', nrows=100)

In [10]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5

In [17]:
df = pd.read_csv('./data/raw/yellow/2021/01/yellow_tripdata_2021-01.csv')

/tmp/ipykernel_14905/3637084359.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('./data/raw/yellow/2021/01/yellow_tripdata_2021-01.csv')

In [ ]:
import

In [24]:
print(pd.io.sql.get_schema(df, name='test_yellow'))

CREATE TABLE "test_yellow" (
"VendorID" REAL,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [23]:
df.tpep_pickup_datetime = pd.to_datetime(df['tpep_pickup_datetime'])
df.tpep_dropoff_datetime = pd.to_datetime(df['tpep_dropoff_datetime'])

In [26]:
print(pd.io.sql.get_schema(df, name='test_yellow'))

CREATE TABLE "test_yellow" (
"VendorID" REAL,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL
)

In [27]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1.0,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2.0,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1.0,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2.0,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1.0,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1.0,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1.0,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1.0,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2.0,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1.0,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [29]:
pip install sqlalchemy

Collecting sqlalchemy
  Downloading SQLAlchemy-2.0.37-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.1 MB)
     |████████████████████████████████| 3.1 MB 4.0 MB/s eta 0:00:01
Requirement already satisfied: typing-extensions>=4.6.0 in /home/abyssde232024/.local/lib/python3.8/site-packages (from sqlalchemy) (4.10.0)
Collecting greenlet!=0.4.17; python_version < "3.14" and (platform_machine == "aarch64" or (platform_machine == "ppc64le" or (platform_machine == "x86_64" or (platform_machine == "amd64" or (platform_machine == "AMD64" or (platform_machine == "win32" or platform_machine == "WIN32"))))))
  Downloading greenlet-3.1.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (650 kB)
     |████████████████████████████████| 650 kB 43.2 MB/s eta 0:00:01
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.1.1 sqlalchemy-2.0.37
Note: you may need to restart the kernel to use updated packages.

In [35]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.10.tar.gz (385 kB)
     |████████████████████████████████| 385 kB 4.2 MB/s eta 0:00:01
Building wheels for collected packages: psycopg2
  Building wheel for psycopg2 (setup.py) ... done
  Created wheel for psycopg2: filename=psycopg2-2.9.10-cp38-cp38-linux_x86_64.whl size=558070 sha256=ca8f5d3992c55081d6c47523126637f896ac53e9ccacee6bc5863f839f55c4a4
  Stored in directory: /home/abyssde232024/.cache/pip/wheels/85/b7/48/d6ffc48322fa70ef973e9ca95a5e012f2d71efadd88d847865
Successfully built psycopg2
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.10
Note: you may need to restart the kernel to use updated packages.

In [36]:
import sqlalchemy
import psycopg2

In [39]:
engine = sqlalchemy.create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [40]:
engine.connect()

In [47]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [43]:
df_iter = pd.read_csv('./data/raw/yellow/2021/01/yellow_tripdata_2021-01.csv', iterator=True, chunksize=10000)

In [44]:
df_iter

In [45]:
df=next(df_iter)

In [46]:
len(df)

10000

In [50]:
df.tpep_dropoff_datetime = pd.to_datetime(df['tpep_dropoff_datetime'])
df.tpep_pickup_datetime = pd.to_datetime(df['tpep_pickup_datetime'])

In [55]:
df.head(n=0).to_sql('yellow_taxi_data', engine, if_exists='replace')

0

In [54]:
%time df.to_sql('yellow_taxi_data', engine, if_exists='append')

CPU times: user 773 ms, sys: 11.6 ms, total: 784 ms
Wall time: 1.34 s

1000

In [57]:
import time as t
flag = True
rec_cnt = 0
while flag:
    try:
        t_start = t.time()
        df = next(df_iter)
        rec_cnt = rec_cnt + len(df)
        df.tpep_dropoff_datetime = pd.to_datetime(df['tpep_dropoff_datetime'])
        df.tpep_pickup_datetime = pd.to_datetime(df['tpep_pickup_datetime'])
        df.to_sql('yellow_taxi_data', engine, if_exists='append')
        t_end = t.time()
        print(f"Time taken to insert 10000 rows: {t_end-t_start}")
        print(f"Total records inserted: {rec_cnt}")
    except Exception as e:
        flag = False
        print(f"Exception encounterd: {e}")
print("Data insertion completed with {rec_cnt} records")

Time taken to insert 10000 rows: 1.498222827911377
Total records inserted: 10000
Time taken to insert 10000 rows: 1.3769664764404297
Total records inserted: 20000
Time taken to insert 10000 rows: 1.3416240215301514
Total records inserted: 30000
Time taken to insert 10000 rows: 1.309396743774414
Total records inserted: 40000
Time taken to insert 10000 rows: 1.3907256126403809
Total records inserted: 50000
Time taken to insert 10000 rows: 1.3499624729156494
Total records inserted: 60000
Time taken to insert 10000 rows: 1.6210594177246094
Total records inserted: 70000
Time taken to insert 10000 rows: 1.337773084640503
Total records inserted: 80000
Time taken to insert 10000 rows: 1.3550662994384766
Total records inserted: 90000
Time taken to insert 10000 rows: 1.379991054534912
Total records inserted: 100000
Time taken to insert 10000 rows: 1.3050973415374756
Total records inserted: 110000
Time taken to insert 10000 rows: 1.3127005100250244
Total records inserted: 120000
Time taken to insert 10000 rows: 1.8321568965911865
Total records inserted: 130000
Time taken to insert 10000 rows: 1.3533623218536377
Total records inserted: 140000
Time taken to insert 10000 rows: 1.334078311920166
Total records inserted: 150000
Time taken to insert 10000 rows: 1.309729814529419
Total records inserted: 160000
Time taken to insert 10000 rows: 1.34230375289917
Total records inserted: 170000
Time taken to insert 10000 rows: 1.472994327545166
Total records inserted: 180000
Time taken to insert 10000 rows: 1.4130403995513916
Total records inserted: 190000
Time taken to insert 10000 rows: 1.5447344779968262
Total records inserted: 200000
Time taken to insert 10000 rows: 1.3279404640197754
Total records inserted: 210000
Time taken to insert 10000 rows: 1.2999765872955322
Total records inserted: 220000
Time taken to insert 10000 rows: 1.3830723762512207
Total records inserted: 230000
Time taken to insert 10000 rows: 1.3746018409729004
Total records inserted: 240000
Time taken to insert 10000 rows: 1.3837296962738037
Total records inserted: 250000
Time taken to insert 10000 rows: 1.6733810901641846
Total records inserted: 260000
Time taken to insert 10000 rows: 1.3369619846343994
Total records inserted: 270000
Time taken to insert 10000 rows: 1.2969310283660889
Total records inserted: 280000
Time taken to insert 10000 rows: 1.3044219017028809
Total records inserted: 290000
Time taken to insert 10000 rows: 1.3363213539123535
Total records inserted: 300000
Time taken to insert 10000 rows: 1.3286702632904053
Total records inserted: 310000
Time taken to insert 10000 rows: 1.505232810974121
Total records inserted: 320000
Time taken to insert 10000 rows: 1.6210730075836182
Total records inserted: 330000
Time taken to insert 10000 rows: 1.3818001747131348
Total records inserted: 340000
Time taken to insert 10000 rows: 1.3917696475982666
Total records inserted: 350000
Time taken to insert 10000 rows: 1.8608245849609375
Total records inserted: 360000
Time taken to insert 10000 rows: 1.3760366439819336
Total records inserted: 370000
Time taken to insert 10000 rows: 1.359032392501831
Total records inserted: 380000
Time taken to insert 10000 rows: 2.0304512977600098
Total records inserted: 390000
Time taken to insert 10000 rows: 1.366957664489746
Total records inserted: 400000
Time taken to insert 10000 rows: 1.3210813999176025
Total records inserted: 410000
Time taken to insert 10000 rows: 1.375622034072876
Total records inserted: 420000
Time taken to insert 10000 rows: 1.328974723815918
Total records inserted: 430000
Time taken to insert 10000 rows: 1.3505218029022217
Total records inserted: 440000
Time taken to insert 10000 rows: 2.2518789768218994
Total records inserted: 450000
Time taken to insert 10000 rows: 1.577784776687622
Total records inserted: 460000
Time taken to insert 10000 rows: 1.3480174541473389
Total records inserted: 470000
Time taken to insert 10000 rows: 1.352057933807373
Total records inserted: 480000
Time taken to insert 10000 rows: 1.3350255489349365
Total records inserted: 490000
Time taken to insert 10000 rows: 1.3524537086486816
Total records inserted: 500000
Time taken to insert 10000 rows: 1.3291058540344238
Total records inserted: 510000
Time taken to insert 10000 rows: 1.338205337524414
Total records inserted: 520000
Time taken to insert 10000 rows: 1.6505448818206787
Total records inserted: 530000
Time taken to insert 10000 rows: 1.4671745300292969
Total records inserted: 540000
Time taken to insert 10000 rows: 1.5750136375427246
Total records inserted: 550000
Time taken to insert 10000 rows: 1.3228864669799805
Total records inserted: 560000
Time taken to insert 10000 rows: 1.3158659934997559
Total records inserted: 570000
Time taken to insert 10000 rows: 1.3300607204437256
Total records inserted: 580000
Time taken to insert 10000 rows: 1.5876030921936035
Total records inserted: 590000
Time taken to insert 10000 rows: 1.325129747390747
Total records inserted: 600000
Time taken to insert 10000 rows: 1.3515851497650146
Total records inserted: 610000
Time taken to insert 10000 rows: 1.3762023448944092
Total records inserted: 620000
Time taken to insert 10000 rows: 1.3270695209503174
Total records inserted: 630000
Time taken to insert 10000 rows: 1.3352055549621582
Total records inserted: 640000
Time taken to insert 10000 rows: 1.3295557498931885
Total records inserted: 650000
Time taken to insert 10000 rows: 1.590102195739746
Total records inserted: 660000
Time taken to insert 10000 rows: 1.3521502017974854
Total records inserted: 670000
Time taken to insert 10000 rows: 1.3581836223602295
Total records inserted: 680000
Time taken to insert 10000 rows: 1.3223938941955566
Total records inserted: 690000
Time taken to insert 10000 rows: 1.3266608715057373
Total records inserted: 700000
Time taken to insert 10000 rows: 1.353989601135254
Total records inserted: 710000
Time taken to insert 10000 rows: 1.334346055984497
Total records inserted: 720000
Time taken to insert 10000 rows: 1.5851130485534668
Total records inserted: 730000
Time taken to insert 10000 rows: 1.3886070251464844
Total records inserted: 740000
Time taken to insert 10000 rows: 1.359489917755127
Total records inserted: 750000
Time taken to insert 10000 rows: 1.3675892353057861
Total records inserted: 760000
Time taken to insert 10000 rows: 1.3251357078552246
Total records inserted: 770000
Time taken to insert 10000 rows: 1.3307113647460938
Total records inserted: 780000
Time taken to insert 10000 rows: 1.3352768421173096
Total records inserted: 790000
Time taken to insert 10000 rows: 1.6367783546447754
Total records inserted: 800000
Time taken to insert 10000 rows: 1.3555760383605957
Total records inserted: 810000
Time taken to insert 10000 rows: 1.344109058380127
Total records inserted: 820000
Time taken to insert 10000 rows: 1.3293061256408691
Total records inserted: 830000
Time taken to insert 10000 rows: 1.3640656471252441
Total records inserted: 840000
Time taken to insert 10000 rows: 1.3201873302459717
Total records inserted: 850000
Time taken to insert 10000 rows: 1.412299394607544
Total records inserted: 860000
Time taken to insert 10000 rows: 1.579172134399414
Total records inserted: 870000
Time taken to insert 10000 rows: 1.3724491596221924
Total records inserted: 880000
Time taken to insert 10000 rows: 1.3247456550598145
Total records inserted: 890000
Time taken to insert 10000 rows: 1.3386192321777344
Total records inserted: 900000
Time taken to insert 10000 rows: 1.3054015636444092
Total records inserted: 910000
Time taken to insert 10000 rows: 1.4120349884033203
Total records inserted: 920000
Time taken to insert 10000 rows: 1.3626534938812256
Total records inserted: 930000
Time taken to insert 10000 rows: 1.6121416091918945
Total records inserted: 940000
Time taken to insert 10000 rows: 1.3441362380981445
Total records inserted: 950000
Time taken to insert 10000 rows: 1.358314037322998
Total records inserted: 960000
Time taken to insert 10000 rows: 1.363210678100586
Total records inserted: 970000
Time taken to insert 10000 rows: 1.717426061630249
Total records inserted: 980000
Time taken to insert 10000 rows: 1.3509860038757324
Total records inserted: 990000
Time taken to insert 10000 rows: 1.3203208446502686
Total records inserted: 1000000
Time taken to insert 10000 rows: 1.5824060440063477
Total records inserted: 1010000
Time taken to insert 10000 rows: 1.3176121711730957
Total records inserted: 1020000
Time taken to insert 10000 rows: 1.3648650646209717
Total records inserted: 1030000
Time taken to insert 10000 rows: 1.403780460357666
Total records inserted: 1040000
Time taken to insert 10000 rows: 1.34596848487854
Total records inserted: 1050000
Time taken to insert 10000 rows: 1.3346352577209473
Total records inserted: 1060000
Time taken to insert 10000 rows: 1.3336758613586426
Total records inserted: 1070000
Time taken to insert 10000 rows: 1.3351211547851562
Total records inserted: 1080000
Time taken to insert 10000 rows: 1.5960352420806885
Total records inserted: 1090000
Time taken to insert 10000 rows: 1.4521746635437012
Total records inserted: 1100000
Time taken to insert 10000 rows: 1.3280200958251953
Total records inserted: 1110000
Time taken to insert 10000 rows: 1.3210196495056152
Total records inserted: 1120000
Time taken to insert 10000 rows: 1.307603359222412
Total records inserted: 1130000
Time taken to insert 10000 rows: 1.3364827632904053
Total records inserted: 1140000
Time taken to insert 10000 rows: 1.5785439014434814
Total records inserted: 1150000
Time taken to insert 10000 rows: 1.3381867408752441
Total records inserted: 1160000
Time taken to insert 10000 rows: 1.4111297130584717
Total records inserted: 1170000
Time taken to insert 10000 rows: 1.3590428829193115
Total records inserted: 1180000
Time taken to insert 10000 rows: 1.3457324504852295
Total records inserted: 1190000
Time taken to insert 10000 rows: 1.3197858333587646
Total records inserted: 1200000
Time taken to insert 10000 rows: 1.3340511322021484
Total records inserted: 1210000
Time taken to insert 10000 rows: 1.3433537483215332
Total records inserted: 1220000
Time taken to insert 10000 rows: 1.6333813667297363
Total records inserted: 1230000
Time taken to insert 10000 rows: 1.3534183502197266
Total records inserted: 1240000
Time taken to insert 10000 rows: 1.3540141582489014
Total records inserted: 1250000
Time taken to insert 10000 rows: 1.2934391498565674
Total records inserted: 1260000
Time taken to insert 10000 rows: 1.240063190460205
Total records inserted: 1270000
Time taken to insert 10000 rows: 1.2074084281921387
Total records inserted: 1280000
Time taken to insert 10000 rows: 1.3137881755828857
Total records inserted: 1290000
Time taken to insert 10000 rows: 1.4891750812530518
Total records inserted: 1300000
Time taken to insert 10000 rows: 1.2105598449707031
Total records inserted: 1310000
Time taken to insert 10000 rows: 1.2488279342651367
Total records inserted: 1320000
Time taken to insert 10000 rows: 1.269439697265625
Total records inserted: 1330000
Time taken to insert 10000 rows: 1.2340152263641357
Total records inserted: 1340000
Time taken to insert 10000 rows: 1.1894443035125732
Total records inserted: 1349765
Exception encounterd:
Data insertion completed with {rec_cnt} records